button{
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color:#fff;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
.boton-clic{
    background-color: #3d6198;
}
.boton-reiniciar{
    background-color: #462446;
}

