*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: black;
}
.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}
.logo-contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.logo-2do{
    filter: drop-shadow(3px 3px 1px #FFFFFF);
    animation: rotation 15s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
